body{
    background-color: teal;

}

td{

    border: 1px solid salmon;

}

table{
    border: 2px solid white;
    width: 50%;
    height: 300px;
    margin: 0 auto;

}

tr{
    border: 3px dotted white;
    height: 50px;
}

th{
    color: purple;
}

#outer-table{
    border: 5px solid white;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
}

.display{
    width: 400px;
}